@import url('https://fonts.googleapis.com/css?family=Montserrat');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #28223f;
	font-family: Montserrat, sans-serif;
	color: #02899c;
	transition: background 0.2s linear;
}

main {
	min-height: 100vh;
	display: grid;
	place-items: center;
	line-height: 1.6;
}

article {
	background-color: #231e39;
	border-radius: 5px;
	position: relative;
	box-shadow: 5px 8px 20px -10px rgba(0, 0, 0, 0.75);
	max-width: 30ch;
	text-align: center;
	padding: 2rem 2rem;
	margin: 1.5em;
	transition: background 0.2s linear;
}

@media screen and (min-width: 500px) {
	article {
		max-width: 38ch;
	}
}

img {
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border: 1px solid;
	border-radius: 50%;
	padding: 0.25em;
	margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}

h1 {
	text-transform: uppercase;
	font-size: x-large;
	font-weight: 600;
	margin: 2px;
}
h2 {
	text-transform: uppercase;
	margin: 5px;
	font-size: 16px !important;
}
h4 {
	margin: 12px 0;
}

.buttons {
	margin: 15px;
	display: flex;
	justify-content: center;
}

.btn-primary {
	background-color: #03bfcb;
	color: #231e39;
	border-radius: 3px;
	padding: 0.7em 0.7em;
	margin: 0 0.5em;
	min-width: 7.3rem;
	text-decoration: none;
}

.btn-primary:hover {
	background-color: #0098a3;
}

.btn-primary.ghost {
	background-color: transparent;
	color: #0d7a88;
	border: 1px solid;
	position: relative;
	display: inline-block;
}

.btn-primary.ghost:hover {
	color: #15a0b3;
}

.skills {
	text-align: left;
	font-size: 15px;
	margin-top: 25px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills li {
	border: 1px solid;
	border-radius: 2px;
	display: inline-block;
	padding: 2px 10px;
	margin: 5px;
}
